name: Ruff

on: [push]

jobs:

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Install dependencies
        run: |
          python -m venv .venv
          source .venv/bin/activate
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install ruff

      - name: Analyzing the code with Ruff
        run: |
          source .venv/bin/activate
          python -m ruff check $(git ls-files '*.py')
